.top-header-area {
  background-color: #136;
  padding-top: 15px;
  padding-bottom: 15px;
  .container {
    .top-header-content span {
      font-size: 16px;
      color: #fff;
      font-weight: 400;
    }
  }
  .logout-btn {
    border: none;
    background: #113366;
    color: #fff;
    cursor: pointer;
  }
}
